<!DOCTYPE html>
{% load mytag %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no">
    <meta name="baidu-site-verification" content="uOtMoOhBVO" />
    <meta name="google-site-verification" content="kX3cNy2RthtROds0KKFpO4JNUXgbWC_C0aVbR_8RfOc" />
    <meta name="360-site-verification" content="77741819e3de4637f447a194effaa8f4" />
    <link rel="shortcut icon" type="image/x-icon" href="{%upstatic 'beauty/pic/favicon.ico'%}" media="screen" />
    {% if seo %}
    <title>{{ seo.title }}</title>
    <meta name="keywords" content="{{ seo.keywords }}"/>
    <meta name="description" content="{{ seo.desc }}"/>
    {% else %}
    <title>妹子吧 - meizibar.com</title>>
    {% endif %}
    <link rel="stylesheet" id='style-css' type="text/css" href="{% upstatic 'beauty/css/main.min.css' %}" media='all'/>
    <link rel="stylesheet" id='font-awesome-css' type="text/css" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"
          media='all'/>
    <script type="text/javascript" src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
    <!--[if lt IE 9]>
    <!--<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>-->
    <![endif]-->

    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?3f32279e3566d687f6bf886f7428046f";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https'){
       bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else{
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>

</head>
<body class="home blog body_top">
{% include "beauty/component/header.html" %}
{% include "beauty/component/slider.html" %}
{% block mainbody %}
{% endblock %}
{% include "beauty/component/footer.html" %}
<script type="text/javascript" src="{% upstatic 'beauty/js/script.min.js' %}"></script>
</body>
</html>