<div class="foot" id="footer">
    <div class="foot_list">
        <div class="foot_num">
            <div>图集数量</div>
            <div style="position: relative;">{{ site_statistics.num_gallery }}+</div>
        </div>
        <div class="foot_num">
            <div>图片数量</div>
            <div>{{ site_statistics.num_image }}+</div>
        </div>
        <div class="foot_num">
            <div>总标签数</div>
            <div>
                {{ site_statistics.num_tag }}+
            </div>
        </div>
        <div class="foot_num">
            <div>运营天数</div>
            <div>
                {{ site_statistics.running_time }}+
            </div>
        </div>
    </div>
</div>
<footer class="w100 cl">
    <div class="w1080 fot cl">
        <p>版权所有 Copyright © 2017 美女图片
            <span> .AllRights Reserved
                <a href="http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank"></a>
            </span>
            <a href="http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank">京ICP备17039064号-1</a>
        </p>
        <p>本站纯属免费
            <a href="{%url 'beauty:tag_page' tag_name='xinggan' page_num=1 %}">性感美女</a> 、
            <a href="{%url 'beauty:tag_page' tag_name='siwa' page_num=1 %}">丝袜美女</a>、
            <a href="{%url 'beauty:tag_page' tag_name='mote' page_num=1 %}">性感模特</a>、
            <a href="{%url 'beauty:tag_page' tag_name='qingchun' page_num=1 %}">清纯美女</a>、
            <a href="{%url 'beauty:index' %}">美女图片</a>
            欣赏网站,资源来源于互联网，图片版权归原作者所有，若有侵权问题敬请告知，我们会立即处理！
        </p>
    </div>
</footer>