<!--图片展示-->
{% load static %}
{% load mytag %}
{% if page_content %}
<div class="update_area_lists cl" id="container">
    {% for gallery in page_content %}
    <div class="i_list list_n2">
        <a href="{% url 'beauty:gallery' _id=gallery.gallery_id page_num=1 %}" title="{{gallery.title}}">
            <img src="{% static 'beauty/pic/thumb_2.png' %}"
                 data-original="{%thumb gallery.cover_id %}" width="120px"
                 height="124px" alt="{{gallery.title}}" style="display: inline;">
        </a>
        <div class="case_info">
            <div class="meta-title"> {{gallery.title}}</div>
            <div class="meta-post"><i class="fa fa-clock-o"></i>{%time gallery.publish_time%}<span class="cx_like"><i
                    class="fa fa-heart"></i>{%view gallery.gallery_id %}</span></div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
{% endif %}
