{% load mytag %}
<div class="index_header nav_headertop">
    <div class="header_inner">
        <div class="logo">
            <a href="{%url 'beauty:hot' 1 %}"><img src="{%image 'logo'%}" alt="美女图片"/></a>
        </div>
        <div class="header_menu">
            <ul>
                <li class="megamenu"><a href="{% url 'beauty:tag_page' tag_name='xinggan' page_num=1 %}">性感美女</a></li>
                <li class="megamenu"><a href="{% url 'beauty:tag_page' tag_name='xiaoyuan' page_num=1 %}">校园春色</a></li>
                <li  class="megamenu toke"><a>模特写真</a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'beauty:tag_page' tag_name='boluoshe' page_num=1 %}">菠萝社</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'beauty:tag_page' tag_name='liuyouqi' page_num=1 %}">柳侑绮</a></li>
                                <li><a href="{% url 'beauty:tag_page' tag_name='xiameijiang' page_num=1 %}">夏美酱</a></li>
                                <li><a href="{% url 'beauty:tag_page' tag_name='liuyaxi' page_num=1 %}">刘娅希</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'beauty:tag_page' tag_name='xiurenwang' page_num=1 %}">秀人网</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'beauty:tag_page' tag_name='liufeier' page_num=1 %}">刘飞儿</a></li>
                                <li><a href="{% url 'beauty:tag_page' tag_name='yudaxiaojie' page_num=1 %}">于大小姐</a></li>
                                <li><a href="{% url 'beauty:tag_page' tag_name='jiabaobeier' page_num=1 %}">嘉宝贝儿</a></li>
                            </ul>
                        </li>
                        <li><a>更多精选</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'beauty:tag_page' tag_name='tuinvlang' page_num=1 %}">推女郎</a></li>
                                <li><a href="{% url 'beauty:tag_page' tag_name='tuinvshen' page_num=1 %}">推女神</a></li>
                                <li><a href="{% url 'beauty:tag_page' tag_name='mofanxueyuan' page_num=1 %}">模范学院</a></li>
                            </ul>
                        </li>
                        <li><a>更多精选</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'beauty:tag_page' tag_name='aiyouwu' page_num=1 %}">爱尤物</a></li>
                                <li><a href="{% url 'beauty:tag_page' tag_name='youguowang' page_num=1 %}">尤果网</a></li>
                                <li><a href="{% url 'beauty:tag_page' tag_name='qingdouke' page_num=1 %}">青豆客</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="megamenu" ><a href="{% url 'beauty:tag_page' tag_name='sifang' page_num=1 %}">妹子私房</a></li>
                <li class="megamenu"><a href="{% url 'beauty:tag_page' tag_name='luoli' page_num=1 %}">可爱萝莉</a></li>
                <li class="megamenu fax codiepie"><a href="{% url 'beauty:theme'%}">精选主题</a></li>

            </ul>
        </div>
        <div class="login_text mobie">
            <a href="javascript:;" class="slide-menu"><i class="fa fa-list-ul"></i></a>
        </div>
        <div class="header_search_bar">
            <form action="/" method="get">
                <button class="search_bar_btn" type="submit"><i class="fa fa-search"></i></button>
                <input class="search_bar_input" type="text" name="tag_name" placeholder="输入关键字">
                <input class="search_bar_input" type="hidden" name="page" value="1">
            </form>
        </div>
    </div>
</div>