{% load static %}
<div class="slide-mask"></div>
<nav class="slide-wrapper">
    <div class="header-info">
        <div class="header-logo">
        </div>
        <div class="header-info-content">
        </div>
    </div>
    <ul class="menu_slide" nav-data="nav_363114">
        <li class="current-post-ancestor current-menu-parent current-post-parent"><a
                href="{% url 'beauty:tag_page' tag_name='xinggan' page_num=1 %}">n</a></li>
        <li><a href="{% url 'beauty:tag_page' tag_name='qingchun' page_num=1 %}">a</a></li>
        <li><a href="{% url 'beauty:tag_page' tag_name='siwa' page_num=1 %}">b</a></li>
        <li><a href="{% url 'beauty:tag_page' tag_name='mote' page_num=1 %}">c</a></li>
        <li><a href="{% url 'beauty:tag_page' tag_name='mingxing' page_num=1 %}">d</a></li>
    </ul>
</nav>
