{% extends "beauty/component/base.html" %}

{% block mainbody %}
<div class="main cw_56">
  <div class="main_inner" style="margin-top: 90px;text-align:center">
  <div class="error-404" style="font-size: 15em;color: #F66;">404</div>
  <div style="font-size:16px;background-color: #F66;display: block;width: 100%;max-width: 350px;margin: 0 auto;height: 50px;line-height: 50px;color: #fff;border-radius: 10px;text-shadow: 1px 1px 2px #000;margin-bottom: 70px;">您访问的页面不存在！<br><br><br></div>
  </div>
</div>
{% endblock %}