{% extends "beauty/component/base.html" %}

{% block mainbody %}
{% load mytag %}

<div class="main">
    <div class="main_inner">
        <div class="main_left">
            <div class="item_title">
                <h1> {{ gallery.title }}</h1>
                <div class="single-cat"><span>发布于</span>{%time gallery.publish_time%}
                </div>
            </div>
            <div class="item_info cl">
                <div style="float:left;">
                    <i class="fa fa-eye"></i> <span class="cx-views">{%view gallery.gallery_id%}</span> 人气
                </div>
                <div class="post_au">
                    <a href="{%url 'beauty:gallery' _id=gallery.gallery_id page_num=1 %}"><i class="fa fa-television"
                                                                                             style="margin-right:3px;"></i>单图模式</a>
                </div>
            </div>
            <div class="content" id="content">
                <div class="content_left"><font color="#FF0000">图集介绍</font>: 妹子吧 (meizibar.com) 小编为您精心推荐 {{gallery.title}} <br><br>

                    {% for img in image%}
                    <img src="{% upstatic 'beauty/pic/thumb_2.png' %}" data-original="{%image img %}"
                         alt="{{img.desc}}" style="display: block;">
                    {% endfor %}


                    <div class="tag cl" style="margin-top:30px;">

                        <div class="nav-links page_imges">
                            <a href="{%url 'beauty:gallery_more' _id=page.prev_gallery page_num=page.prev_page %}"
                               class="page-numbers next" title="上一页">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                            {% load filters %}
                            {% for i in image.number|calculate_page:image.paginator.num_pages %}
                            {% if image.number == i %}
                            <span class="page-numbers current">
                                        <span class="meta-nav screen-reader-text">第 </span>{{i}} <span
                                    class="meta-nav screen-reader-text"> 页</span>
                                    </span>
                            {% elif i == -1 %}
                            <em>... </em>
                            {% else %}
                            <a class="page-numbers"
                               href="{%url 'beauty:gallery_more' _id=gallery.gallery_id page_num=i %}"
                               title="第 {{i}} 页">{{i}}</a>
                            {% endif %}
                            {% endfor %}


                            <a href="{%url 'beauty:gallery_more' _id=page.next_gallery page_num=page.next_page %}"
                               class="page-numbers prev" title="下一页">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_right_title">相关资源：
                {% for r_tag in relate_tags %}
                <span class="single-tags"><a href="{% url 'beauty:tag_page' tag_name=r_tag.tag_id page_num=1 %}">{{ r_tag.tag_name }}</a></span>
                {% endfor %}
            </div>

            <ul class="xg_content">
                {% for gallery in relate_galleries|slice:":10" %}
                <li class="i_list list_n2">
                    <a href="{% url 'beauty:gallery_more' _id=gallery.gallery_id page_num=1 %}"
                       title="{{gallery.title}}">
                        <img src="{% upstatic 'beauty/pic/thumb_2.png' %}"
                             data-original="{%thumb gallery.cover_id %}" width="270"
                             height="370" alt="{{gallery.title}}" style="display: inline;">
                    </a>
                    <div class="case_info">
                        <div class="meta-title"> {{gallery.title}}</div>
                        <div class="meta-post"><i class="fa fa-clock-o"></i>{%time gallery.publish_time%}<span
                                class="cx_like"><i
                                class="fa fa-heart"></i>{%view gallery.gallery_id %}</span></div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="main_right sidebar">
            <div class="widget widget_text">
                <h3>编辑推荐</h3>
                <ul class="textwidget">
                    {% for g in relate_galleries %}
                    <li><a href="{%url 'beauty:gallery_more' _id=g.gallery_id page_num=1%}"
                           target="_blank">{{g.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="widget widget_tags_num ">
                <h3>标签云</h3>
                <ul class="cl">
                    {% for r_tag in tags_cloud %}
                    {% if r_tag in relate_tags %}
                    <li class="tag_color_s">
                        {%else%}
                    <li>
                        {%endif%}
                        <a href="{%url 'beauty:tag_page' tag_name=r_tag.tag_id page_num=1 %}" title="{{r_tag.tag_name}}">{{r_tag.tag_name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <style>
                    .widget_tags_num ul {
                        background: #fff;
                        padding: 5px;
                    }

                    .widget_tags_num ul li {
                        float: left;
                        margin: 5px;
                    }

                    .widget_tags_num ul li a {
                        display: inline-block;
                        padding: 2px 10px;
                        border: solid 1px #dadada;
                        border-radius: 20px;
                        box-shadow: 0 0 2px rgba(0, 0, 0, 0.11);
                        color: #999;
                    }

                    .widget_tags_num ul li.tag_color_s a {
                        color: #f66;
                        border-color: #f66;
                    }

                    .widget_tags_num ul li a:hover {
                        color: #f66;
                        border-color: #f66;
                    }




            </style>
        </div>
    </div>
</div>

<div class="cbbfixed" style="bottom: 10px;"><a class="gotop cbbtn"><i class="fa fa-angle-up"></i></a></div>
{% endblock %}