{% extends "beauty/component/base.html" %}

{% block mainbody %}
{% load static %}
{% load mytag %}

<div class="index_header nav_headertop">
    <div class="header_inner">
        <div class="logo">
            <a href="http://localhost/"><img src="{% static 'beauty/pic/logo.pbg' %}" alt="美女图片"></a>
        </div>
        <div class="header_menu">
            <ul>
                <li id="menu-item-389"
                    class="megamenu toke current-post-ancestor current-menu-parent current-post-parent"><a
                        href="{% url 'beauty:tag_page' tag_name='xinggan' page_num=1 %}">taga</a></li>
                <li id="menu-item-390" class="megamenu toke"><a
                        href="{% url 'beauty:tag_page' tag_name='qingchun' page_num=1 %}">tagb</a></li>
                <li id="menu-item-388" class="megamenu toke"><a
                        href="{% url 'beauty:tag_page' tag_name='siwa' page_num=1 %}">tagc</a></li>
                <li id="menu-item-437" class="megamenu toke"><a
                        href="{% url 'beauty:tag_page' tag_name='mingxing' page_num=1 %}">tagd</a></li>
                <li id="menu-item-396" class="megamenu toke"><a
                        href="{% url 'beauty:tag_page' tag_name='mote' page_num=1 %}">tage</a></li>
                <li id="menu-item-3557" class="megamenu toke"><a
                        href="{% url 'beauty:tag_page' tag_name='renti' page_num=1 %}">tagf</a></li>
            </ul>
        </div>
        <div class="login_text pc" style="padding-top: 25px;padding-bottom: 20px;">
        </div>
        <div class="login_text mobie">
            <a href="javascript:;" class="slide-menu"><i class="fa fa-list-ul"></i></a>
        </div>
        <div class="header_search_bar">
            <form action="http://www.sotu.la/">
                <button class="search_bar_btn" type="submit"><i class="fa fa-search"></i></button>
                <input class="search_bar_input" type="text" name="s" placeholder="输入关键字">
            </form>
        </div>
    </div>
</div>

<div class="main">
    <div class="main_inner">
        <div class="main_left" style="width:100%">
            <div class="item_title">
                <h1> {{ gallery.title }}</h1>
                <div class="single-cat"><span>分类:</span>
                    <a href="http://www.sotu.la/xinggan/" rel="category tag">tag</a> / <span>发布于</span>{%time gallery.publish_time%}
                </div>
            </div>
            <div class="item_info cl">
                <div style="float:left;">
                    <i class="fa fa-eye"></i> <span class="cx-views">1</span> 人气 /
                    <i class="fa fa-comment"></i> <span><a
                        href="http://www.sotu.la/xinggan/5392.html#respond">0</a></span> 评论
                </div>
                <div class="post_au">
                    <a href="http://www.sotu.la/xinggan/5392-all.html"><i class="fa fa-th-large"
                                                                          style="margin-right:3px;"></i>查看全部</a></div>
            </div>
            <div class="content" id="content">
                <div class="content_left"><font color="#FF0000">图集介绍</font>:{{ image.0.desc }}
                    <a href="{%url 'beauty:gallery' _id=page.prev_gallery page_num=page.prev_page %}" title="上一页"
                       class="pre-cat">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a href="{%url 'beauty:gallery' _id=page.next_gallery page_num=page.next_page %}" title="下一页"
                       class="next-cat">
                        <i class="fa fa-chevron-right"></i>
                    </a>

                    <div class="image_div" id="image_div">
                        <p>
                            <a href="{%url 'beauty:gallery' _id=page.next_gallery page_num=page.next_page %}"
                               title="点击图片查看下一张"><img src="{%image image.0.image_id%}" alt="{{image.0.desc}}"></a>
                        </p>

                        <div class="nav-links page_imges">
                            <a href="{%url 'beauty:gallery' _id=page.prev_gallery page_num=page.prev_page %}"
                               class="page-numbers next" title="上一页">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                            {% load filters %}
                            {% for i in image.number|calculate_page:image.paginator.num_pages %}
                            {% if image.number == i %}
                            <span class="page-numbers current">
                                        <span class="meta-nav screen-reader-text">第 </span>{{i}} <span
                                    class="meta-nav screen-reader-text"> 页</span>
                                    </span>
                            {% elif i == -1 %}
                            <em>... </em>
                            {% else %}
                            <a class="page-numbers" href="{%url 'beauty:gallery' _id=gallery.gallery_id page_num=i %}"
                               title="第 {{i}} 页">{{i}}</a>
                            {% endif %}
                            {% endfor %}


                            <a href="{%url 'beauty:gallery' _id=page.next_gallery page_num=page.next_page %}"
                               class="page-numbers prev" title="下一页">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                    <script type="text/javascript">
                        window.onload = function () {
                            setTimeout(function () {
                                new Image().src = " http://img.sotu.la/img/2017/05/f5041444882.jpg";
                                new Image().src = " http://img.sotu.la/img/2017/05/f5041444883.jpg";
                            }, 1000);
                        };
                    </script>
                    <div class="tag cl" style="margin-top:30px;">
                            <span class="dtpost-like cl">
<a href="javascript:;" data-action="ding" data-id="5392" class="favorite">
<i class="fa fa-thumbs-up"></i>
<span class="count">
<em class="ct_ding" style="color: #F58282;">20</em>个赞
</span>
                            </a>

                            <a class="share-btn collect collect-no" nonce="3ea59723" style="cursor:default;"
                               title="你必须注册并登录才能收藏">
                                <i class="fa fa-star"></i>
                                <span class="count">收藏</span>
                            </a>

                            <a class="share-fx" href="javascript:;">
                                <i class="fa fa-share-alt"></i>
                                <span class="count">分享</span>
                            </a>
                            </span>

                        <div class="myshare cl">
                            <ul class="-mob-share-list">
                                <li class="-mob-share-qq"></li>
                                <li class="-mob-share-qzone"></li>
                                <li class="-mob-share-weixin"></li>
                                <li class="-mob-share-weibo"></li>
                                <li class="-mob-share-renren"></li>
                                <li class="-mob-share-douban"></li>
                            </ul>
                        </div>

                        <div class="post_hyh">
                            <a href="http://www.sotu.la/xinggan/5394.html">换一篇</a></div>
                    </div>
                </div>
            </div>
            <div class="content_right_title">相关资源：<span class="single-tags">
                    <a href="http://www.sotu.la/tag/%e6%bf%80%e6%83%85/">激情</a> /
                    <a href="http://www.sotu.la/tag/meinv/">美女图片</a></span>
            </div>

            <ul class="xg_content">
            <li class="i_list list_n2">
            <a href="http://www.sotu.la/xinggan/3083.html" title="黑网俏丽性感情趣熟女黑丝写真图片大全">
            <img class="waitpic" src="./性感诱惑迷人大胸肥臀女神玛鲁娜 - 美女图片_files/1-1F12R14632.jpg_270x370" data-original=" http://img.sotu.la/img/2017/01/1-1F12R14632.jpg_270x370" width="270" height="370" alt="黑网俏丽性感情趣熟女黑丝写真图片大全" style="display: inline;">
            </a>
            <div class="case_info">
            <div class="meta-title"> 黑网俏丽性感情趣熟女黑丝写真图片大全</div>
            <div class="meta-post"><i class="fa fa-clock-o"></i> 2017-1-30<span class="cx_like"><i
            class="fa fa-heart"></i>27</span></div>
            </div>
            </li>
            <li class="i_list list_n2">
            <a href="http://www.sotu.la/xinggan/3294.html" title="黑白性感女神壁纸高清大图">
            <img class="waitpic" src="./性感诱惑迷人大胸肥臀女神玛鲁娜 - 美女图片_files/1RARTNTEN.jpg_270x370" data-original=" http://img.sotu.la/img/2017/02/1RARTNTEN.jpg_270x370" width="270" height="370" alt="黑白性感女神壁纸高清大图" style="display: inline;">
            </a>
            <div class="case_info">
            <div class="meta-title"> 黑白性感女神壁纸高清大图</div>
            <div class="meta-post"><i class="fa fa-clock-o"></i> 2017-2-9<span class="cx_like"><i
            class="fa fa-heart"></i>17</span></div>
            </div>
            </li>
            <li class="i_list list_n2">
            <a href="http://www.sotu.la/xinggan/3687.html" title="黑丝诱惑黄歆苑性感丝袜美女走光图片大全">
            <img class="waitpic" src="./性感诱惑迷人大胸肥臀女神玛鲁娜 - 美女图片_files/ASBSDH45W.jpg_270x370" data-original=" http://img.sotu.la/img/2017/02/ASBSDH45W.jpg_270x370" width="270" height="370" alt="黑丝诱惑黄歆苑性感丝袜美女走光图片大全" style="display: inline;">
            </a>
            <div class="case_info">
            <div class="meta-title"> 黑丝诱惑黄歆苑性感丝袜美女走光图片大全</div>
            <div class="meta-post"><i class="fa fa-clock-o"></i> 2017-2-15<span class="cx_like"><i
            class="fa fa-heart"></i>11</span></div>
            </div>
            </li>
            <li class="i_list list_n2">
            <a href="http://www.sotu.la/xinggan/4118.html" title="黑丝美腿诱惑韩国美女朴正允制服短裙写真">
            <img class="waitpic" src="./性感诱惑迷人大胸肥臀女神玛鲁娜 - 美女图片_files/ag5kj3ixq04.jpg_270x370" data-original=" http://img.sotu.la/img/2017/03/ag5kj3ixq04.jpg_270x370" width="270" height="370" alt="黑丝美腿诱惑韩国美女朴正允制服短裙写真" style="display: inline;">
            </a>
            <div class="case_info">
            <div class="meta-title"> 黑丝美腿诱惑韩国美女朴正允制服短裙写真</div>
            <div class="meta-post"><i class="fa fa-clock-o"></i> 2017-3-8<span class="cx_like"><i
            class="fa fa-heart"></i>16</span></div>
            </div>
            </li>
            <li class="i_list list_n2">
            <a href="http://www.sotu.la/xinggan/5128.html" title="黑丝美腿巨乳翘臀性感麻辣女教师制服诱惑图片">
            <img class="waitpic" src="./性感诱惑迷人大胸肥臀女神玛鲁娜 - 美女图片_files/f77f1413570.jpg_270x370" data-original=" http://img.sotu.la/img/2017/05/f77f1413570.jpg_270x370" width="270" height="370" alt="黑丝美腿巨乳翘臀性感麻辣女教师制服诱惑图片" style="display: inline;">
            </a>
            <div class="case_info">
            <div class="meta-title"> 黑丝美腿巨乳翘臀性感麻辣女教师制服诱惑图片</div>
            <div class="meta-post"><i class="fa fa-clock-o"></i> 2017-5-20<span class="cx_like"><i
            class="fa fa-heart"></i>19</span></div>
            </div>
            </li>
            <li class="i_list list_n2">
            <a href="http://www.sotu.la/xinggan/3882.html" title="黑丝红裙驾驭自如翘臀女神欣蕾气质佳">
            <img class="waitpic" src="./性感诱惑迷人大胸肥臀女神玛鲁娜 - 美女图片_files/B221sssss01.jpg_270x370" data-original=" http://img.sotu.la/img/2017/02/B221sssss01.jpg_270x370" width="270" height="370" alt="黑丝红裙驾驭自如翘臀女神欣蕾气质佳" style="display: inline;">
            </a>
            <div class="case_info">
            <div class="meta-title"> 黑丝红裙驾驭自如翘臀女神欣蕾气质佳</div>
            <div class="meta-post"><i class="fa fa-clock-o"></i> 2017-2-22<span class="cx_like"><i
            class="fa fa-heart"></i>29</span></div>
            </div>
            </li>
            <li class="i_list list_n2">
            <a href="http://www.sotu.la/xinggan/2346.html" title="黑丝短裙人间尤物一枚SM女王黄歆苑">
            <img class="waitpic" src="./性感诱惑迷人大胸肥臀女神玛鲁娜 - 美女图片_files/DJ7.jpg_270x370" data-original=" http://img.sotu.la/img/2017/DJ7.jpg_270x370" width="270" height="370" alt="黑丝短裙人间尤物一枚SM女王黄歆苑" style="display: inline;">
            </a>
            <div class="case_info">
            <div class="meta-title"> 黑丝短裙人间尤物一枚SM女王黄歆苑</div>
            <div class="meta-post"><i class="fa fa-clock-o"></i> 2017-1-8<span class="cx_like"><i
            class="fa fa-heart"></i>12</span></div>
            </div>
            </li>
            <li class="i_list list_n2">
            <a href="http://www.sotu.la/xinggan/2305.html" title="黄香香内衣90后性感美女写真图">
            <img class="waitpic" src="./性感诱惑迷人大胸肥臀女神玛鲁娜 - 美女图片_files/2gyoujqr2h2.jpg_270x370" data-original=" http://img.sotu.la/img/2017/2gyoujqr2h2.jpg_270x370" width="270" height="370" alt="黄香香内衣90后性感美女写真图" style="display: inline;">
            </a>
            <div class="case_info">
            <div class="meta-title"> 黄香香内衣90后性感美女写真图</div>
            <div class="meta-post"><i class="fa fa-clock-o"></i> 2017-1-6<span class="cx_like"><i
            class="fa fa-heart"></i>26</span></div>
            </div>
            </li>
            <li class="i_list list_n2">
            <a href="http://www.sotu.la/xinggan/1917.html" title="黄可秀绝美身影蕾丝黑衣">
            <img class="waitpic" src="./性感诱惑迷人大胸肥臀女神玛鲁娜 - 美女图片_files/1-1412161G607.jpg_270x370" data-original=" http://img.sotu.la/img/2016/1-1412161G607.jpg_270x370" width="270" height="370" alt="黄可秀绝美身影蕾丝黑衣" style="display: inline;">
            </a>
            <div class="case_info">
            <div class="meta-title"> 黄可秀绝美身影蕾丝黑衣</div>
            <div class="meta-post"><i class="fa fa-clock-o"></i> 2016-12-27<span class="cx_like"><i
            class="fa fa-heart"></i>27</span></div>
            </div>
            </li>
            <li class="i_list list_n2">
            <a href="http://www.sotu.la/xinggan/4634.html" title="麻辣女教师性感女神cosplay黑丝美腿大胸写真">
            <img class="waitpic" src="./性感诱惑迷人大胸肥臀女神玛鲁娜 - 美女图片_files/59541348578.jpg_270x370" data-original=" http://img.sotu.la/img/2017/04/59541348578.jpg_270x370" width="270" height="370" alt="麻辣女教师性感女神cosplay黑丝美腿大胸写真" style="display: inline;">
            </a>
            <div class="case_info">
            <div class="meta-title"> 麻辣女教师性感女神cosplay黑丝美腿大胸写真</div>
            <div class="meta-post"><i class="fa fa-clock-o"></i> 2017-4-16<span class="cx_like"><i
            class="fa fa-heart"></i>21</span></div>
            </div>
            </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}