{% extends "beauty/component/base.html" %}

{% block mainbody %}
{% load static %}
{% load mytag %}

<div class="main">
    <div class="main_inner">
        <div class="main_left" style="width:100%">
            <div class="item_title">
                <h1> {{ gallery.title }}</h1>
                <div class="single-cat"><span>发布于</span>{%time gallery.publish_time%}
                </div>
            </div>
            <div class="item_info cl">
                <div style="float:left;">
                    <i class="fa fa-eye"></i> <span class="cx-views">{%view gallery.gallery_id %}</span> 人气

                </div>
                <div class="post_au">
                    <a href="{%url 'beauty:gallery_more' _id=gallery.gallery_id page_num=1 %}"><i class="fa fa-th-large"
                                                                          style="margin-right:3px;"></i>多图模式</a></div>
            </div>
            <div class="content" id="content">
                <div class="content_left"><font color="#FF0000">图集介绍</font>:{{ image.0.desc }}
                    <a href="{%url 'beauty:gallery' _id=page.prev_gallery page_num=page.prev_page %}" title="上一页"
                       class="pre-cat">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a href="{%url 'beauty:gallery' _id=page.next_gallery page_num=page.next_page %}" title="下一页"
                       class="next-cat">
                        <i class="fa fa-chevron-right"></i>
                    </a>

                    <div class="image_div" id="image_div">
                        <p>
                            <a href="{%url 'beauty:gallery' _id=page.next_gallery page_num=page.next_page %}"
                               title="点击图片查看下一张"><img src="{%image image.0%}" alt="{{image.0.desc}}"></a>
                        </p>

                        <div class="nav-links page_imges">
                            <a href="{%url 'beauty:gallery' _id=page.prev_gallery page_num=page.prev_page %}"
                               class="page-numbers next" title="上一页">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                            {% load filters %}
                            {% for i in image.number|calculate_page:image.paginator.num_pages %}
                            {% if image.number == i %}
                            <span class="page-numbers current">
                                        <span class="meta-nav screen-reader-text">第 </span>{{i}} <span
                                    class="meta-nav screen-reader-text"> 页</span>
                                    </span>
                            {% elif i == -1 %}
                            <em>... </em>
                            {% else %}
                            <a class="page-numbers" href="{%url 'beauty:gallery' _id=gallery.gallery_id page_num=i %}"
                               title="第 {{i}} 页">{{i}}</a>
                            {% endif %}
                            {% endfor %}


                            <a href="{%url 'beauty:gallery' _id=page.next_gallery page_num=page.next_page %}"
                               class="page-numbers prev" title="下一页">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="tag cl" style="margin-top:30px;">
                            <span class="dtpost-like cl">
<a href="javascript:;" data-action="ding" data-id="5392" class="favorite">
<i class="fa fa-thumbs-up"></i>
<span class="count">
<em class="ct_ding" style="color: #F58282;">20</em>个赞
</span>
                            </a>

                            <a class="share-btn collect collect-no" nonce="3ea59723" style="cursor:default;"
                               title="你必须注册并登录才能收藏">
                                <i class="fa fa-star"></i>
                                <span class="count">收藏</span>
                            </a>

                            <a class="share-fx" href="javascript:;">
                                <i class="fa fa-share-alt"></i>
                                <span class="count">分享</span>
                            </a>
                            </span>

                        <div class="myshare cl">
                            <ul class="-mob-share-list">
                                <li class="-mob-share-qq"></li>
                                <li class="-mob-share-qzone"></li>
                                <li class="-mob-share-weixin"></li>
                                <li class="-mob-share-weibo"></li>
                                <li class="-mob-share-renren"></li>
                                <li class="-mob-share-douban"></li>
                            </ul>
                        </div>

                        <div class="post_hyh">
                            <a href="{%url 'beauty:gallery' _id=relate_galleries.0.gallery_id page_num=1 %}">换一篇</a></div>
                    </div>
                </div>
            </div>
            <div class="content_right_title">相关资源：
                {% for r_tag in relate_tags %}
                <span class="single-tags"><a href="{% url 'beauty:tag_page' tag_name=r_tag.tag_id page_num=1 %}">{{ r_tag.tag_name }}</a></span>
                {% endfor %}
            </div>

            <ul class="xg_content">
                {% for gallery in relate_galleries|slice:":10" %}
                <li class="i_list list_n2">
                    <a href="{% url 'beauty:gallery' _id=gallery.gallery_id page_num=1 %}" title="{{gallery.title}}">
                        <img src="{% static 'beauty/pic/thumb_2.png' %}"
                             data-original="{%thumb gallery.cover_id %}" width="270"
                             height="370" alt="{{gallery.title}}" style="display: inline;">
                    </a>
                    <div class="case_info">
                        <div class="meta-title"> {{gallery.title}}</div>
                        <div class="meta-post"><i class="fa fa-clock-o"></i>{%time gallery.publish_time%}<span
                                class="cx_like"><i
                                class="fa fa-heart"></i>19</span></div>
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}