<div class="foot" id="footer">
    <div class="foot_list">
        <div class="foot_num">
            <div>文章总数</div>
            <div style="position: relative;">1904+</div>
        </div>
        <div class="foot_num">
            <div>评论总数</div>
            <div>12+</div>
        </div>
        <div class="foot_num">
            <div>专题栏目</div>
            <div>6+</div>
        </div>
        <div class="foot_num">
            <div>运营天数</div>
            <div>
                169+
            </div>
        </div>
    </div>
</div>
<footer class="w100 cl">
    <div class="w1080 fot cl"><p class="footer_menus"><a href="/top/">美女排行榜</a>
        <a href="/reping/">评论排行榜</a>
        <a href="/zan/">点赞排行榜</a>
        <a href="/contact/">关于我们</a>
    </p>
        <p>版权所有 Copyright © 2017 美女图片<span> .AllRights Reserved<a href="http://www.miitbeian.gov.cn/" rel="nofollow"
                                                                  target="_blank">粤ICP备15077192号-5</a></span></p>
        <p>本站纯属免费 <a href="http://www.sotu.la/xinggan/">性感美女</a> 、<a href="http://www.sotu.la/siwa/">丝袜美女</a>、<a
                href="http://www.sotu.la/mote/">性感模特</a>、<a href="http://www.sotu.la/qingchun/">清纯美女</a>、<a
                href="http://www.sotu.la">美女图片</a>欣赏网站,资源来源于互联网，图片版权归原作者所有，若有侵权问题敬请告知，我们会立即处理！
            <meta baidu-gxt-verify-token="cbd453e370a925351488ad72ee160aa7">
        </p>
    </div>
</footer>