{% extends "beauty/component/base.html" %}

{% block mainbody %}
{% load filters %}
<body class="home blog body_top">
{% include "beauty/component/header.html" %}
{% include "beauty/component/slider.html" %}


<div class="home-filter">
    <div class="h-screen-wrap">
        <ul class="h-screen">
            {% for tag in home_tags %}
            <li ><a href="{%url 'beauty:tag_page' tag_name=tag.tag_id page_num=1%}">{{tag.tag_name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <ul class="h-soup cl">
        <li class="open"><i class="fa fa-coffee"></i>最近一周新增 <em>{{ site_statistics.last_week_publish }}</em> 组图集</li>
    </ul>
</div>
<h2 class="btt mobies"><i class="fa fa-gittip" style="color: #E53A40;"></i>为您推荐 <span>给您推荐一批更精彩的</span></h2>
<div class="update_area">
    <div class="update_area_content">

       {% include "beauty/component/gallery_view.html" %}


        <nav class="navigation pagination" role="navigation">
            <h2 class="screen-reader-text">文章导航</h2>
            <div class="nav-links">
                {% if page_content.has_previous %}
                <a class="prev page-numbers" href="{% url 'beauty:hot' page_content.previous_page_number %}"><i class="fa fa-chevron-left"></i></a>
                {% endif %}

                {% for i in page_content.number|calculate_page:page_content.num_pages %}
                {% if page_content.number == i %}
                <span class='page-numbers current'>
                    <span class="meta-nav screen-reader-text">第 </span>{{ i }}<span
                        class="meta-nav screen-reader-text"> 页</span></span>
                {% elif i == -1 %}
                <span class="page-numbers dots">…</span>
                {% else %}
                <a class='page-numbers' href="{% url 'beauty:hot' i %}"><span
                        class="meta-nav screen-reader-text">第 </span>
                    {{ i }} <span
                            class="meta-nav screen-reader-text"> 页</span></a>
                {% endif %}
                {% endfor %}

                {% if page_content.has_next %}
                <a class="next page-numbers" href="{% url 'beauty:hot' page_content.next_page_number %}"><i
                        class="fa fa-chevron-right"></i></a>
                {% endif %}
            </div>
        </nav>


    </div>
</div>
{% load mytag %}
<div class="zt_list_index cl">
    <ul class="list_index_ul cl">
        <li>
            <a href="{% url 'beauty:tag_page' tag_name='chemo' page_num=1 %}">
                <img src="{%footer 'images/Ab2dkASBf/e7NcqrcWp' %}" alt="性感车模" width="270" height="120">
                <span>性感车模</span>
            </a>
        </li>
        <li>
            <a href="{% url 'beauty:tag_page' tag_name='dachidu' page_num=1 %}">
                <img src="{%footer 'images/9BfSMpC1v/p20sCAyVn'%}" alt="大尺度" width="270" height="120">
                <span>大尺度</span>
            </a>
        </li>
        <li>
            <a href="{% url 'beauty:tag_page' tag_name='qingchun' page_num=1 %}">
                <img src="{%footer 'images/cH9xNQubb/nHNjquUyh' %}" alt="清纯MM" width="270" height="120">
                <span>清纯MM</span>
            </a>
        </li>
        <li>
            <a href="{% url 'beauty:tag_page' tag_name='luoli' page_num=1 %}">
                <img src="{%footer 'images/kmEEaaVxb/A8Vz2QSBf'%}" alt="可爱萝莉" width="270" height="120">
                <span>可爱萝莉</span>
            </a>
        </li>
        <li>
            <a href="{% url 'beauty:tag_page' tag_name='sifang' page_num=1 %}">
                <img src="{%footer 'images/93QTQCJjv/BpbOAg69' %}" alt="私房写真" width="270" height="120">
                <span>私房写真</span>
            </a>
        </li>
        <li>
            <a href="{% url 'beauty:tag_page' tag_name='siwa' page_num=1 %}">
                <img src="{%footer 'images/3ZSL2f3t3/bfXzuDKrj'%}" alt="丝袜诱惑" width="270" height="120">
                <span>丝袜诱惑</span>
            </a>
        </li>
    </ul>
</div>
<div class="zt_list_index cl">
    <h3 class="link_tit"><span>友情链接</span></h3>
    <ul class="list_index_ul links cl">
        <li><a href="http://www.171mm.com/">171美女图片</a></li>
        <li><a href="http://www.srdax.com">欧美图片网</a></li>
        <li><a href="http://www.atimg.com/">美图天堂</a></li>
        <li><a href="http://mzsock.com/">美足船袜</a></li>
        <li><a href="http://www.mizhivip.cn">蜜汁写真</a></li>
    </ul>
</div>
{% endblock %}
