{% extends "beauty/component/base.html" %}

{% block mainbody %}
{% load static %}
<body class="home blog body_top">
{% include "beauty/component/header.html" %}
<div class="slide-mask"></div>
<nav class="slide-wrapper">
    <div class="header-info">
        <div class="header-logo">
        </div>
        <div class="header-info-content">
        </div>
    </div>
    <ul class="menu_slide" nav-data="nav_363114">
        <li id="menu-item-2854"><a href="{% url 'beauty:tag_page' tag_name='qingchun' page_num=1 %}">清纯美女</a></li>
        <li id="menu-item-2855"><a href="{% url 'beauty:tag_page' tag_name='siwa' page_num=1 %}">丝袜美腿</a></li>
        <li id="menu-item-2856"><a href="{% url 'beauty:tag_page' tag_name='mote' page_num=1 %}">性感模特</a></li>
        <li id="menu-item-2857"><a href="{% url 'beauty:tag_page' tag_name='mingxing' page_num=1 %}">明星写真</a></li>
    </ul>
</nav>


<div class="home-filter">
    <div class="h-screen-wrap">
        <ul class="h-screen">
            <li id="menu-item-4527"><a href="/tag/%e7%be%8e%e5%a5%b3/">a</a></li>
            <li id="menu-item-4528"><a href="/tag/%e5%86%85%e8%a1%a3/">b</a></li>
            <li id="menu-item-4529"><a href="/tag/%e9%bb%91%e4%b8%9d/">c</a></li>
            <li id="menu-item-4530"><a href="/tag/%e7%be%8e%e8%85%bf/">d</a></li>
            <li id="menu-item-4531"><a href="/tag/%e7%a7%81%e6%88%bf/">e</a></li>
            <li id="menu-item-4532"><a href="/tag/%e4%b8%9d%e8%a2%9c/">f</a></li>
            <li id="menu-item-4533"><a href="/tag/%e6%a8%a1%e7%89%b9/">g</a></li>
            <li id="menu-item-4534"><a href="/tag/%e5%86%85%e8%a1%a3%e4%b8%9d%e8%a2%9c/">h</a></li>
        </ul>
    </div>
    <ul class="h-soup cl">
        <li class="open"><i class="fa fa-coffee"></i>最近一周新增 <em>24</em> 篇文章</li>
    </ul>
</div>
<h2 class="btt mobies"><i class="fa fa-gittip" style="color: #E53A40;"></i>为您推荐 <span>给您推荐一批更精彩的</span></h2>
<div class="update_area">
    <div class="update_area_content">

       {% include "beauty/component/gallery_view.html" %}


        {% load filters %}
        <nav class="navigation pagination" role="navigation">
            <h2 class="screen-reader-text">文章导航</h2>
            <div class="nav-links">
                {% if page_content.has_previous %}
                <a class="prev page-numbers" href="{% url 'beauty:hot' page_content.previous_page_number %}"><i class="fa fa-chevron-left"></i></a>
                {% endif %}

                {% for i in page_content.number|calculate_page:page_content.num_pages %}
                {% if page_content.number == i %}
                <span class='page-numbers current'>
                    <span class="meta-nav screen-reader-text">第 </span>{{ i }}<span
                        class="meta-nav screen-reader-text"> 页</span></span>
                {% elif i == -1 %}
                <span class="page-numbers dots">…</span>
                {% else %}
                <a class='page-numbers' href="{% url 'beauty:hot' i %}"><span
                        class="meta-nav screen-reader-text">第 </span>
                    {{ i }} <span
                            class="meta-nav screen-reader-text"> 页</span></a>
                {% endif %}
                {% endfor %}

                {% if page_content.has_next %}
                <a class="next page-numbers" href="{% url 'beauty:hot' page_content.next_page_number %}"><i
                        class="fa fa-chevron-right"></i></a>
                {% endif %}
            </div>
        </nav>


    </div>
</div>
<div class="zt_list_index cl">
    <ul class="list_index_ul cl">
        <li>
            <a href="{% url 'beauty:tag_page' tag_name='90hou' page_num=1 %}">
                <img src="http://img.sotu.la/90mm4_conew1.jpg" alt="90后MM" width="270" height="120">
                <span>90后MM</span>
            </a>
        </li>
        <li>
            <a href="{% url 'beauty:tag_page' tag_name='renti' page_num=1 %}">
                <img src="http://img.sotu.la/rtys6_conew1.jpg" alt="人体艺术" width="270" height="120">
                <span>人体艺术</span>
            </a>
        </li>
        <li>
            <a href="{% url 'beauty:tag_page' tag_name='qingchun' page_num=1 %}">
                <img src="http://img.sotu.la/qcmm2_conew1.jpg" alt="清纯MM" width="270" height="120">
                <span>清纯MM</span>
            </a>
        </li>
        <li>
            <a href="{% url 'beauty:tag_page' tag_name='renqi' page_num=1 %}">
                <img src="http://img.sotu.la/rqyh5_conew1.jpg" alt="人妻诱惑" width="270" height="120">
                <span>人妻诱惑</span>
            </a>
        </li>
        <li>
            <a href="{% url 'beauty:tag_page' tag_name='sifang' page_num=1 %}">
                <img src="http://img.sotu.la/sfxz3_conew1.jpg" alt="私房写真" width="270" height="120">
                <span>私房写真</span>
            </a>
        </li>
        <li>
            <a href="{% url 'beauty:tag_page' tag_name='siwa' page_num=1 %}">
                <img src="http://img.sotu.la/swyh1_conew1.jpg" alt="丝袜诱惑" width="270" height="120">
                <span>丝袜诱惑</span>
            </a>
        </li>
    </ul>
</div>
<div class="zt_list_index cl">
    <h3 class="link_tit"><span>友情链接</span></h3>
    <ul class="list_index_ul links cl">
        <li><a href="http://www.171mm.com/">171美女图片</a></li>
        <li><a href="http://www.sotu.la/xinggan">欧美图片</a></li>
        <li><a href="http://www.srdax.com">欧美图片网</a></li>
        <li><a href="http://www.atimg.com/">美图天堂</a></li>
        <li><a href="http://www.sotutu.com">美女照片</a></li>
        <li><a href="http://mzsock.com/">美足船袜</a></li>
        <li><a href="http://www.mizhivip.cn">蜜汁写真</a></li>
    </ul>
</div>
{% include "beauty/component/masonry.html" %}
{% endblock %}
