{% load static %}
<div class="slide-mask"></div>
<nav class="slide-wrapper">
    <div class="header-info">
        <div class="header-logo">
            <a href="http://www.sotu.la/login/?r=http://www.sotu.la/xinggan/5392.html">
                <img src="{% static 'beauty/pic/avatar.jpg' %}" alt="默认头像">
            </a>
        </div>
        <div class="header-info-content">
        </div>
    </div>
    <ul class="menu_slide" nav-data="nav_363114">
        <li id="menu-item-2853" class="current-post-ancestor current-menu-parent current-post-parent"><a
                href="http://www.sotu.la/xinggan/">n</a></li>
        <li id="menu-item-2854"><a href="{% url 'beauty:tag_page' tag_name='qingchun' page_num=1 %}">a</a></li>
        <li id="menu-item-2855"><a href="{% url 'beauty:tag_page' tag_name='siwa' page_num=1 %}">b</a></li>
        <li id="menu-item-2856"><a href="{% url 'beauty:tag_page' tag_name='mote' page_num=1 %}">c</a></li>
        <li id="menu-item-2857"><a href="{% url 'beauty:tag_page' tag_name='mingxing' page_num=1 %}">d</a></li>
    </ul>
</nav>
