{% extends "beauty/component/base.html" %}
{% load mytag %}
{%block header%}
<meta property="og:type" content="image"/>
<meta property="og:image" content="{%image page_content.0.cover_id %}"/>
{%endblock%}
{% block mainbody %}

{% if tag.desc %}
<!--<div class="cat_bg">-->
    <!--<div class="cat_bg_img" style="background-image:url(http://b.chenxingweb.com/cxudy/cat/cat_qingchun_8_3.png);">-->
        <!--<p>-->
            <!--<span style="font-size: 18px;color: #F14141;font-weight: 600;">-->
                <!--<i class="fa fa-paper-plane"></i>  {{ tag.tag_name }}-->
            <!--</span><br/>-->
            <!--{{ tag.desc }}-->
        <!--</p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="fl flbg">-->
<div class="fl">
{%else%}<div class="fl">
{%endif%}


    <div class="fl_title">
        <div class="fl01"> {{tag.tag_name}}</div>
    </div>
    <div class="filter-wrap">
        <div class="filter-tag">
            <div class="fl_list"><span> 为你推荐：</span>
                <a class="fl_link linked" href="{%url 'beauty:tag_page' tag_name=tag.tag_id page_num=1 %}">{{ tag.tag_name }}</a> |
                {% for r_tag in relate_tags%}
                <a class="fl_link" href="{%url 'beauty:tag_page' tag_name=r_tag.tag_id page_num=1%}">{{ r_tag.tag_name }}</a> |
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="update_area">
        <div class="update_area_content">
            {% include "beauty/component/gallery_view.html" %}
            {% load filters %}
            <nav class="navigation pagination" role="navigation">
                <h2 class="screen-reader-text">文章导航</h2>
                <div class="nav-links">
                    {% if page_content.has_previous %}
                    <a class="prev page-numbers"
                       href="{% url 'beauty:tag_page' tag_name=tag.tag_id page_num=page_content.previous_page_number %}"><i
                            class="fa fa-chevron-left"></i></a>
                    {% endif %}

                    {% for i in page_content.number|calculate_page:page_content.num_pages %}
                    {% if page_content.number == i %}
                    <span class='page-numbers current'>
                    <span class="meta-nav screen-reader-text">第 </span>{{ i }}<span
                            class="meta-nav screen-reader-text"> 页</span></span>
                    {% elif i == -1 %}
                    <span class="page-numbers dots">…</span>
                    {% else %}
                    <a class='page-numbers' href="{% url 'beauty:tag_page' tag_name=tag.tag_id page_num=i %}"><span
                            class="meta-nav screen-reader-text">第 </span>
                        {{ i }} <span
                                class="meta-nav screen-reader-text"> 页</span></a>
                    {% endif %}
                    {% endfor %}

                    {% if page_content.has_next %}
                    <a class="next page-numbers"
                       href="{% url 'beauty:tag_page' tag_name=tag.tag_id page_num=page_content.next_page_number %}"><i
                            class="fa fa-chevron-right"></i></a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}