{% extends "beauty/component/base.html" %}
{% load mytag %}
{% load static %}
{%block header%}
<meta property="og:type" content="image"/>
<meta property="og:image" content="{%image page_content.0.cover_id %}"/>
{%endblock%}
{% block mainbody %}

{% if tag_view %}
<style>
    .cat_bg .cat_bg_img {
        height: 250px;
    }
    .cat_bg {
        height: 250px;
    }
    @media (max-width: 800px) {
        .cat_bg .cat_bg_img p {
            margin: 20px 5px 5px 30px;
        }
    }
</style>
<div class="cat_bg">
    <div class="cat_bg_img" style="background-image:url({%bg  tag_view.bg_key %});">
        <p>
            <span style="font-size: 18px;color: #F14141;font-weight: 600;">
                <i class="fa fa-paper-plane"></i>  {{ tag_view.name }}
            </span>
            <!--{{ tag_view.desc }}-->
            夏美酱，内地平面模特，在师姐七宝的介绍下成为秀人网麻豆，进而成为波萝社的一期生，并赴日参加艺人培训。夏美酱自述是一名日漫宅，且很喜欢LOL~非常养眼的萌妹子，肩上的纹身比较显眼。
夏美酱，内地平面模特，在师姐七宝的介绍下成为秀人网麻豆，进而成为波萝社的一期生，并赴日参加艺人培训。

        </p>
    </div>
</div>
<div class="fl flbg">
{% else %}
<div class="fl">
{% endif %}
    <div class="filter-wrap">
        <div class="filter-tag">
            <div class="fl_list"><span> 为你推荐：</span>
                <a class="fl_link linked" href="{%url 'beauty:tag_page' tag_name=tag.tag_id page_num=1 %}">{{ tag.tag_name }}</a> |
                {% for r_tag in relate_tags%}
                <a class="fl_link" href="{%url 'beauty:tag_page' tag_name=r_tag.tag_id page_num=1%}">{{ r_tag.tag_name }}</a> |
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="update_area">
        <div class="update_area_content">
            {% include "beauty/component/gallery_view.html" %}
            {% load filters %}
            <nav class="navigation pagination" role="navigation">
                <h2 class="screen-reader-text">文章导航</h2>
                <div class="nav-links">
                    {% if page_content.has_previous %}
                    <a class="prev page-numbers"
                       href="{% url 'beauty:tag_page' tag_name=tag.tag_id page_num=page_content.previous_page_number %}"><i
                            class="fa fa-chevron-left"></i></a>
                    {% endif %}

                    {% for i in page_content.number|calculate_page:page_content.num_pages %}
                    {% if page_content.number == i %}
                    <span class='page-numbers current'>
                    <span class="meta-nav screen-reader-text">第 </span>{{ i }}<span
                            class="meta-nav screen-reader-text"> 页</span></span>
                    {% elif i == -1 %}
                    <span class="page-numbers dots">…</span>
                    {% else %}
                    <a class='page-numbers' href="{% url 'beauty:tag_page' tag_name=tag.tag_id page_num=i %}"><span
                            class="meta-nav screen-reader-text">第 </span>
                        {{ i }} <span
                                class="meta-nav screen-reader-text"> 页</span></a>
                    {% endif %}
                    {% endfor %}

                    {% if page_content.has_next %}
                    <a class="next page-numbers"
                       href="{% url 'beauty:tag_page' tag_name=tag.tag_id page_num=page_content.next_page_number %}"><i
                            class="fa fa-chevron-right"></i></a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}