{% extends "beauty/component/base.html" %}

{% block mainbody %}
{% load static %}

<div class="fl">
    <div class="fl_title">
        <div class="fl01"> {{tag.tag_name}}</div>
    </div>
    <div class="filter-wrap">
        <div class="filter-tag">
            <div class="fl_list"><span> 为你推荐：</span>
                <a class="fl_link linked" href="{%url 'beauty:tag_page' tag_name=tag.tag_id page_num=1 %}">{{ tag.tag_name }}</a> |
                {% for r_tag in relate_tags%}
                <a class="fl_link" href="{%url 'beauty:tag_page' tag_name=r_tag.tag_id page_num=1%}" rel="nofollow">{{ r_tag.tag_name }}</a> |
                {% endfor %}
        </div>
    </div>
</div>


<div class="update_area">
    <div class="update_area_content">

        {% include "beauty/component/gallery_view.html" %}


        {% load filters %}
        <nav class="navigation pagination" role="navigation">
            <h2 class="screen-reader-text">文章导航</h2>
            <div class="nav-links">
                {% if page_content.has_previous %}
                <a class="prev page-numbers" href="{% url 'beauty:tag_page' tag_name=tag.tag_id page_num=page_content.previous_page_number %}"><i class="fa fa-chevron-left"></i></a>
                {% endif %}

                {% for i in page_content.number|calculate_page:page_content.num_pages %}
                {% if page_content.number == i %}
                <span class='page-numbers current'>
                    <span class="meta-nav screen-reader-text">第 </span>{{ i }}<span
                        class="meta-nav screen-reader-text"> 页</span></span>
                {% elif i == -1 %}
                <span class="page-numbers dots">…</span>
                {% else %}
                <a class='page-numbers' href="{% url 'beauty:tag_page' tag_name=tag.tag_id page_num=i %}"><span
                        class="meta-nav screen-reader-text">第 </span>
                    {{ i }} <span
                            class="meta-nav screen-reader-text"> 页</span></a>
                {% endif %}
                {% endfor %}

                {% if page_content.has_next %}
                <a class="next page-numbers" href="{% url 'beauty:tag_page' tag_name=tag.tag_id page_num=page_content.next_page_number %}"><i
                        class="fa fa-chevron-right"></i></a>
                {% endif %}
            </div>
        </nav>


        <!--<nav class="navigation pagination" role="navigation">-->
            <!--<h2 class="screen-reader-text">文章导航</h2>-->
            <!--<div class="nav-links"><span class="page-numbers current"><span-->
                    <!--class="meta-nav screen-reader-text">第 </span>1<span-->
                    <!--class="meta-nav screen-reader-text"> 页</span></span>-->
                <!--<a class="page-numbers" href="http://www.sotu.la/siwa/page_2.html"><span-->
                        <!--class="meta-nav screen-reader-text">第 </span>2<span-->
                        <!--class="meta-nav screen-reader-text"> 页</span></a>-->
                <!--<a class="page-numbers" href="http://www.sotu.la/siwa/page_3.html"><span-->
                        <!--class="meta-nav screen-reader-text">第 </span>3<span-->
                        <!--class="meta-nav screen-reader-text"> 页</span></a>-->
                <!--<a class="page-numbers" href="http://www.sotu.la/siwa/page_4.html"><span-->
                        <!--class="meta-nav screen-reader-text">第 </span>4<span-->
                        <!--class="meta-nav screen-reader-text"> 页</span></a>-->
                <!--<a class="page-numbers" href="http://www.sotu.la/siwa/page_5.html"><span-->
                        <!--class="meta-nav screen-reader-text">第 </span>5<span-->
                        <!--class="meta-nav screen-reader-text"> 页</span></a>-->
                <!--<a class="page-numbers" href="http://www.sotu.la/siwa/page_6.html"><span-->
                        <!--class="meta-nav screen-reader-text">第 </span>6<span-->
                        <!--class="meta-nav screen-reader-text"> 页</span></a>-->
                <!--<a class="next page-numbers" href="http://www.sotu.la/siwa/page_2.html"><i-->
                        <!--class="fa fa-chevron-right"></i></a></div>-->
        <!--</nav>-->
    </div>
</div>
{% include "beauty/component/masonry.html" %}
{% endblock %}