{% extends "beauty/component/base.html" %}
{% load mytag %}
{%block header%}<meta property="og:type" content="image"/><meta property="og:image" content="{%image page_content.0.cover_id %}"/>{%endblock%}
{% block mainbody %}

<div class="fl">
    <div class="fl_title">
        <div class="fl01"> 编辑精选</div>
    </div>
    <div class="update_area">
        <div class="update_area_content">

            {% include "beauty/component/theme_view.html" %}


        </div>
    </div>
</div>
{% endblock %}